* {
    background-color: #323232;
    lighter-color: #454545;
    second-lighter-color: #545454;
    text-fill: #ababab;
}

.root {
    -fx-background-color: background-color;
}

.menu-bar,.menu,.menu-item,.context-menu,.split-pane,.scroll-bar {
    -fx-background-color: background-color;
}

.split-pane > .split-pane-divider {
    -fx-background-color: lighter-color;
}

.scroll-bar .thumb {
    -fx-background-color: lighter-color;
}

.menu-item .label {
    -fx-text-fill: text-fill;
}

.menu .label {
    -fx-text-fill: text-fill;
}

.list-view {
    -fx-background-color: background-color;
}

.list-view .list-cell:even {
    -fx-background-color: lighter-color;
}

.list-view .list-cell:odd {
    -fx-background-color: second-lighter-color;
}

.label, .list-cell {
    -fx-text-fill: text-fill;
}